# Directorios de compilación
build/
AppDir/
external/

# Binarios compilados
*.o
*.so
*.a
compressor
compressor.exe
compressor_debug
compressor_debug.exe

# AppImages generados
*.AppImage

# Archivos temporales
*~
*.swp
*.swo
.DS_Store
tmp/

# Go
go-legacy/tmp/
go-legacy/main
go-legacy/*.exe

# Iconos generados
resources/icon.png
resources/icon512.png
.build-cache/